<?xml version="1.0" encoding="utf-8"?>
<log4net>
	<root>
		<level value="ERROR" />
		<appender-ref ref="error-file" />
	</root>
	<logger name="FrontEndLogger" additivity="False">
		<level value="INFO" />
		<appender-ref ref="frontend-error-file" />
	</logger>
	<appender name="error-file" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/error" />
		<appendToFile value="true" />
		<immediateFlush value="true" />
		<staticLogFileName value="false" />
		<rollingStyle value="Date" />
		<datepattern value="-yyyy.MM.dd'.log'" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level - %message%newline %exception %newline" />
		</layout>
	</appender>
	<appender name="frontend-error-file" type="log4net.Appender.RollingFileAppender">
		<file value="Logs/frontend-error" />
		<appendToFile value="true" />
		<immediateFlush value="true" />
		<staticLogFileName value="false" />
		<rollingStyle value="Date" />
		<datepattern value="-yyyy.MM.dd'.log'" />
		<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
		<layout type="log4net.Layout.PatternLayout">
			<conversionPattern value="%date [%thread] %level - %message%newline %exception %newline" />
		</layout>
	</appender>
</log4net>